[submodule "libraries/libc/musl"]
	path = libraries/libc/musl
	url = https://github.com/eosio/musl
	branch = eosio
[submodule "enumivo_llvm"]
	path = enumivo_llvm
	url = https://github.com/enumivo/llvm
